@page
@using MiniDMS.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if(User.Identity.IsAuthenticated)
    {
        <h3>@User.Identity.Name Files</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Upload Date</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Document document in Model.Documents)
                {
                    <tr>
                        <td>
                            <a asp-page="Documents/Details" asp-route-id="@document.Id">@document.FileName</a> 
                        </td>
                        <td>@document.UploadDate</td>
                        <td>@document.Owner</td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-page="Documents/Create">Add Document</a>
        <a class="btn btn-secondary" asp-page="Documents/Create">New Folder</a>
        <a class="btn btn-danger" asp-page="Documents/Index">Admin Documents</a>
    }
    else
    {
        <h1>Welcome!</h1>
        <p>To view your files, please log in or register.</p>
    }
</div>
