@page
@using MiniDMS.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    @if(User.Identity.IsAuthenticated)
    {
        <div>
            <div class="float-start">
                <h3>Files</h3>

            </div>

            <div class="float-end pb-3">

            <a class="btn btn-primary" asp-route-id="@Model._folder" asp-page="Files/Create">Add Document</a>
            <a class="btn btn-secondary" asp-route-parent="@Model._folder" asp-page="Files/Folder/Create">New Folder</a>
            </div>
        </div>

        <table class="table table-hover border">
            <thead>
                <tr>
                    <th> </th>
                    <th>Name</th>
                    <th>Upload Date</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                <!-- Back button. Filler <td> for styles. -->
                @if(Model._folder != 0)
                {
                    <tr>
                        <td>
                            <a asp-page="" asp-route-folder="@Model._parent"> <i class="bi bi-arrow-left-square mx-3"></i> </a>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                }
                @foreach(FileModel file in Model.Files)
                {
                    <tr>
                       
                        @if (file.IsFolder)
                        {
                            <th><i class="bi bi-folder mx-3"></i></th>
                            <td>
                                <a asp-page="" asp-route-folder="@file.Id">@file.FileName</a>
                            </td>
                        }
                        else
                        {
                            <th><i class="bi bi-file-earmark mx-3"></i></th>
                            <td>
                                <a asp-page="Files/Details" asp-route-id="@file.Id">@file.FileName</a>
                            </td>
                        }
                        <td>@file.UploadDate</td>
                        <td>@file.Owner</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <div class="d-flex justify-content-center align-items-center" style="height: 75vh">
         <div class="text-center">
                <h1>Welcome!</h1>
                <p>To view your files, please log in or register.</p>
         </div>    
      </div>
    }
</div>
