@page
@using MiniDMS.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if(User.Identity.IsAuthenticated)
    {
        <h3>@User.Identity.Name Files</h3>
        <table class="table table-hover border">
            <thead>
                <tr>
                    <th> </th>
                    <th>Filename</th>
                    <th>Upload Date</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                <!-- Back button. Filler <td> for styles. -->
                @if(Model._folder != 0)
                {
                    <tr>
                        <td>
                            <a asp-page="" asp-route-folder="@Model._parent"> . . </a>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                }
                @foreach(FileModel file in Model.Files)
                {
                    <tr>
                       
                        @if (file.IsFolder)
                        {
                            <th><i class="bi bi-folder"></i></th>
                            <td>
                                <a asp-page="" asp-route-folder="@file.Id">@file.FileName</a>
                            </td>
                        }
                        else
                        {
                            <th><i class="bi bi-file-earmark"></i></th>
                            <td>
                                <a asp-page="Files/Details" asp-route-id="@file.Id">@file.FileName</a>
                            </td>
                        }
                        <td>@file.UploadDate</td>
                        <td>@file.Owner</td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-route-id="@Model._folder" asp-page="Files/Create">Add Document</a>
        <a class="btn btn-secondary" asp-page="Files/Create">New Folder</a>
        <a class="btn btn-danger" asp-page="Files/Index">Admin Documents</a>
    }
    else
    {
        <h1>Welcome!</h1>
        <p>To view your files, please log in or register.</p>
    }
</div>
